.about-box{
    position: relative;
    width: 60%;
    padding-bottom: 3rem;
    min-height: 100vh;
    max-height: max-content;
    /* background-color: rgb(255, 0, 221); */
    float: right;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   /* background-color: rgb(62, 85, 105); */
   background-color:hsl(213, 86%, 9%);
}
.ab-a{
    text-decoration: none;
    color: aqua;
}
.about-center{
    width: 100%;
    position: relative;
}
.about-title{
    text-align: center;
    font-size: 3rem;
    color: aqua;
    margin-top: 8rem;
}
.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.about-content p{
    text-align: left;
    border-radius: 30px;
    box-shadow: 2px 4px 4px cyan;
    width: 70%;
    font-size: 1.5rem;
    padding: 2vh ;
    border: 1px solid cyan;
}
@media only screen and (min-width:1500px){
    .about-content p{
        width: 75%;
        font-size: 2rem;
        padding-bottom: 2rem;
    }
}
@media only screen and (min-width:1800px){
    .about-content p{
        width: 70%;
        font-size: 2.5rem;
    }
}
@media only screen and (min-width: 1400px){
    .about-box{
        min-height: max-content;
        padding-bottom: 10rem;
    }
}
@media only screen and (max-width: 900px){
    .about-title{
        margin-top: 4rem;
    }
    .about-box{
        min-height: max-content;
        max-height: max-content;
        width: 100%;
        padding-bottom: 5rem;
    }
    .about-content p{
        width: 80%;
    }
}
@media only screen and (max-width: 400px ){
    .about-box{
        padding-bottom: 4rem;
    }
    .about-content p{
        font-size: 1.2rem;
    }
}
