.contact-box{
    width: 60%;
    /* padding-top: 2rem; */
    min-height: 100vh;
    max-height: max-content;
   position: relative;
   float: right;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   background-color:hsl(213, 86%, 9%);
}
.contact-box>.que{
    text-align: center;
    font-size: 1.4rem;
    color: #eee;
    margin-top: 1rem;
}
.contact-title{
    text-align: center;
    font-size: 5rem;
    color: aqua;
    margin-top: 2rem;
}
.form-container{
    padding-top: 4rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-box{
    width: 70%;
    display: flex;
    justify-content: center;
     align-items:center;
    /* background-color: black; */
    /* height: 50vh; */
}
.form-box>form{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    flex-direction: column;
}
.name-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-between; */
}
input{
    border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color: #eee;
    padding: 1rem;
    font-size: 1.5rem;
    /* border-color: cyan; */
    /* border-radius: 30px; */
    margin-bottom: 2rem;
  
    box-shadow: 2px 2px 3px #eee;
    /* border: none; */
}
textarea{
    border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        /* background-color: #eee; */
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 3px #eee;
    resize: none;
    min-width: 100%;
    min-height: 20vh;
    background-color: #eee;
    /* width: 100%; */
  /* max-width: 130px; */
  /* min-width: 80px; */
}
.no-outline:focus , .no-outline:active{
    outline: none;
    border: none;
}
form>button{
   padding: 1rem;
   /* box-shadow: 1px 1px 2px #eee; */
   border: 1px solid #eee;
   /* border-radius: 20px; */
   font-size: 1.5rem;
   color: white;
   background-color: hsl(213, 75%, 14%);
   font-weight: 500;
   cursor: pointer;
}
form>button:hover{
  background-color: aqua;
  color:black;
  /* border: none; */
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}



@media only screen and (min-width: 1500px){
    .contact-box{
        min-height: max-content;
        padding-bottom: 4rem;
        
    }
    .form-container{
        margin-bottom: 10rem ;
    }
}

@media only screen and (max-width: 900px){
    .contact-box{
        width: 100%;
        min-height: max-content;
        width: 100%;
        padding-bottom: 4rem;
    }
    .form-container{
        margin-bottom: 4rem ;
    }
    .name-box>input{
        width: 100%;
    }
    .contact-title{
        font-size: 3.5rem;
    }
}
