.container-nav{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* position: sticky; */
}

.container-nav nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 3rem;
    width: 35%;
    background-color: hsl(213, 86%, 9%);
    border: 2px solid cyan;
    border-radius: 30px;
    z-index: 1000;
    position: fixed;
    
}
nav ul{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li{
    flex: 1;
}
nav ul li a{
    text-decoration: none;
    color: cyan;
    cursor: pointer;
}
.icons-nav {
    size: inherit;
}

@media only screen and (max-width: 900px){
    .container-nav{
        width: 100%;
    }
    .container-nav nav{
        width: 90%;
        top: 2rem;
        position: fixed;
    }
}