.p-bar{
    width: 80%;
    margin-bottom: 2.9rem ;
    height: max-content;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.skill-name-per{
    width: 100%;
    padding-bottom: 0.7rem ;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    /* background-color: rgb(31, 34, 36); */
}
.skill-name-per>span{
    position: absolute;
}
.bar{
    width: 100%;
    height: 1rem;
    /* background-color: transparent; */
    border: 0.1rem solid cyan;
    border-radius: 30px;
    position: relative;
}
.inner-bar{
    height: 0.8rem;
    border-radius: 30px;
    opacity: 0;
    background-color: aqua;
    transition: all 2s ease-in-out;
}